@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  display: none;
}
